body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(81, 78, 83);
  }
  
  section {
    margin:4px;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 48px;
    font-weight: 400;
  }
header{
    margin-bottom: 50px;
    text-align: center;
    color: purple;
}
  section{
    display: flex;
    flex-wrap: wrap;
  }

  article{
    width: calc(33.33% - 8px);
    padding: 20px;
    margin: 4px;
    text-align: center;
    border: 4px dotted white;
    height: 200px;
  }

  p{
    width: 100%;
  }

  h2{
    font-size: 30px;
    color: purple;
    border:2px solid white;
    border-radius: .45rem;
    padding: 3px;
    margin-bottom: 8px;
  }
h2 a{
    border:white
}
  footer{
    text-align: center;
    color: purple;
    font-size: 30px;
  }

  pre, code{
    display: block;
    color: white;
    margin-top: 10px;
    padding: 13px;
    
  }
pre{
    background: linear-gradient(rgb(114, 60, 114),purple);
    border-radius: .50rem;
}

  a[href$=".css"]::after{
    content:"\2764";
    display: inline-block;
    margin-left: 4px;
  }